.git
.gitignore
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
.env
.env.local
Dockerfile
.dockerignore
README.md
docker-compose.yml
